* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  background-color: #f0e6d2;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.school-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: #615335;
}

.school-name p {
  color: #181b4c;
}

.divider {
  margin: 10px 0;
  width: 35%;
  height: 2px;
  background: #615335;
}

/* SECTION */

.results-section {
  width: 100%;
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

/* TABS */

.tabs {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #ccc;
}


.tab {
  flex: 1;
  padding: 15px;
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
}

/* UNDERLINE */

.underline {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 33.33%;
  height: 3px;
  background: black;
  transition: 0.3s;
}

/* CONTENT */

.tab-content {
  margin-top: 20px;
}

/* CONTENT BOX */

.content-box {
  display: flex;
  min-height: 200px;
  border: 1px solid #615335;
  padding: 20px;
  gap: 4rem;
  justify-content: center;
}