* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  min-height: 100dvh;
  background: #E4E4A3;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}