* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  min-height: 100dvh;
  background: #E4E4A3;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.landing{
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.left, .right{
  flex: 1;
  padding: 2rem;
}

.left{
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-card{
  display: flex;
  padding: 1rem;
  width: 90%;
  background: #615335;
  max-height: 20%;
  text-align: center;
}

.card-description h1{
  color: white;
}

/* TABLETS AND DESKTOPS */
@media (min-width:768px){
  .landing{
    flex-direction: row;
  }
}