* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  background-image: #f0e6d2;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.landing {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.left,
.right {
  flex: 1;
  padding: 2rem;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-card {
  display: flex;
  padding: 3rem;
  width: 90%;
  background: #615335;
  min-height: 300px;
  /* give it real height */
  text-align: center;
  border-radius: 10px;

  clip-path: polygon(0% 0%,
      100% 0%,
      100% 90%,
      80% 90%,
      80% 100%,
      50% 90%,
      0% 90%);
}

.card-description h1 {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-card {
  display: flex;
  /* padding: 1rem; */
  width: 100%;
  text-align: center;
  justify-content: center;
}

.card-form h1 {
  color: #615335;
  margin-bottom: 2%;
  font-size: 2rem;
}

.card-form h2 {
  color: #181b4c;
  margin-bottom: 12%;
  font-size: 2rem;
}

.card-form p {
  margin-bottom: 2%;
}

.button-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.button-container button {
  flex: 1;
}

button {
  padding: 10px 20px;
  border-radius: 10px;
  background: #181b4c;
  color: white;
  border: solid 2px #181b4c;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background: transparent;
  border: solid 2px #615335;
  color: #181b4c;
}

.left-btn,
.right-btn {
  font-size: 1rem;
}

/* TABLETS AND DESKTOPS */
@media (min-width:768px) {
  .landing {
    flex-direction: row;
  }

}